language: python

python:
  - "3.6"

before_install:
  - pip install pandoc
  - pip install pylint
script:
  - pip install -r requirements.txt
  - pylint src/machinae/*.py
  - pylint src/machinae/sites/*.py

deploy:
  provider: pypi
  user: billfordx
  password:
    secure: PyOibJ0cErm9yCOfgWvToefrnCrwt3iw7H4eU7hdg4x73DXyqVRNHaJDTvfiVWJyJSNRxPe2r80v7VzUKO24Lqgp7FEpf+4dNbEJtJJEis93vYxOerYXthO/VUIh3yk7ULq9YIAn+65XgNRUk/YllebvOpHLnwNh8FQn63HesDVkCrcuiNFjALqC3SNKcg8vQxrBJzXo+f36a45BgZiQ20qZ8czechXKhi1UVWdQ8ezS/+4YAZcdudD3A0+qnfPd0ve0zfpIrm7ZsyQ9jyDXtnWw7QlOLOuQcT3o4OH9WHrtxjrFONtjg4zZnT9gygxUycgWz2NNVqVWx57ZkZImjAVaf8p7Ym/0DKLuMix2f+K5iMtVlKtYnb8ZKCj4UuaNrNmHrbDj7PasckezKbQF+TwMW9UoG54qh3q1fa+l13rZ3kTcjxg1Wn5RXv6/aw/i+3TGHW2hO0eWxAjgRl741NAzZDVuh0PAenYK8DETT2ZUIlU3VnzCbzi6jTunwV8UsToERHyla3GuiykTlmIOb/3THYIs+n7kffH89b1GlOj/+joLWL12AY5dG4zrhv2VYqt+erJ65K34/nJLk19S+KPqIpYKn/dj1cGzE3y2awiADR4nJbDH87BioqjTQ1fV8bxwPmyl0bGEzOoH9DQnFy/hAc6E9RNWkDIJKUUOEH0=
  on:
    tags: true
    branch: master
